<!DOCTYPE html>
<html>

<head>
	<title>Bov Web Components - Tabs</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Extra+Condensed:400,400i,700,700i|Fira+Sans:800"
	 rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../main.css">
</head>

<body>
	<header class="site-header">
		<div class="site-info">
			<p>Bov Web Components</p>
		</div>
		<nav class="site-navigation">
			<ul class="menu">
				<li class="menu__item"><a href="../buttons/index.html">Buttons</a></li>
				<li class="menu__item"><a href="../tabs/index.html">Tabs</a></li>
				<li class="menu__item"><a href="../accordion/index.html">Accordion</a></li>
				<li class="menu__item"><a href="../carousel/index.html">Carousel</a></li>
			</ul>
		</nav>
	</header>
	<main class="page">
		<header class="page__header">
			<h1 class="page__title">Tabs Component</h1>
		</header>

		<div class="page__content">
			<section class="component component--tabs">
				<header class="component__header">
					<h2 class="component__title">Horizontal Tabs</h2>
				</header>
				
				<div class="component__content">
					<div id="tabs" class="tabs">
						<ul class="tabs__nav">
							<li class="is-active"><a href="#k2">K2</a></li>
							<li><a href="#whitney">Whitney</a></li>
							<li><a href="#minnie">Minnie</a></li>
							<li><a href="#paul">Paul</a></li>
						</ul>

						<div id="k2" class="tabs__content is-active">
							<h2>K2</h2>
							<p>K2 is the first cat I adopted.</p>
						</div>

						<div id="whitney" class="tabs__content">
							<h2>Whitney</h2>
							<p>Whitney is the second cat I adopted, and is K2's biological sister.</p>
						</div>

						<div id="minnie" class="tabs__content">
							<h2>Minnie</h2>
							<p>Minnie is the third Forde family cat, and the first named after a city.</p>
						</div>

						<div id="paul" class="tabs__content">
							<h2>Paul</h2>
							<p>Paul is the most recent addition to the Forde family, and he loves cuddles.</p>
						</div>
					</div>
				</div>
			</section>

			<section class="component component--tabs">
				<header class="component__header">
					<h2>Vertical Tabs</h2>
				</header>
				<div class="component__content">
					<div class="tabs tabs--vertical">
						<ul class="tabs__nav">
							<li class="is-active"><a href="#k2-2">K2</a></li>
							<li><a href="#whitney-2">Whitney</a></li>
							<li><a href="#minnie-2">Minnie</a></li>
							<li><a href="#paul-2">Paul</a></li>
						</ul>

						<div id="k2-2" class="tabs__content is-active">
							<h2>K2</h2>
							<p>K2 is the first cat I adopted.</p>
						</div>

						<div id="whitney-2" class="tabs__content">
							<h2>Whitney</h2>
							<p>Whitney is the second cat I adopted, and is K2's biological sister.</p>
						</div>

						<div id="minnie-2" class="tabs__content">
							<h2>Minnie</h2>
							<p>Minnie is the third Forde family cat, and the first named after a city.</p>
						</div>

						<div id="paul-2" class="tabs__content">
							<h2>Paul</h2>
							<p>Paul is the most recent addition to the Forde family, and he loves cuddles.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	<script src="tabs.js"></script>
</body>

</html>
