/**
 * Tabs Component
 */

 .tabs {
	/* border: 1px solid #eee; */
 }

.tabs__nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs__nav li {
	background-color: #fff;
}

.tabs__nav li.is-active {
	border: 1px solid #ccc;
	border-bottom: none;
	margin-bottom: -1px;
}

.tabs__nav a {
	display: block;
	padding: 10px 15px;
}

.tabs__content {
	border: 1px solid #ccc;
	display: none;
	padding: 15px;
}

.tabs__content.is-active {
	display: block;
}
