/**
 * Tabs Component
 */
.tabs {
	margin-top: 40px;
}

.tabs__nav {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tabs__nav li {
	border-top: 0;
}

.tabs__nav li.is-active a {
	color: #e5346c;
	font-weight: 600;
}

.tabs__nav a {
	color: #424143;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

.tabs__content {
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
	padding: 15px;
}

.tabs__content.is-active {
	display: block;
}

@media screen and (max-width: 599px) {

	.tabs__nav li + li,
	.tabs__nav li:first-of-type.is-active {
		border-top: 1px solid #ccc;
	}

	.tabs__nav {
		border-bottom: none;
	}

	.tabs__nav li.is-active {
		margin-bottom: -1px;
		order: 1;
	}

	.tabs__nav li:first-of-type.is-active + li {
		border-top: 0;
	}
}

@media screen and (min-width: 600px) {

	.tabs__nav {
		border: 0;
		flex-direction: row;
	}

	.tabs__nav li.is-active {
		background-color: #fff;
		border: 1px solid #ccc;
		border-bottom: 0;
		margin-bottom: -1px;
		position: relative;
	}

	/**
	 * For vertical tabs (i.e. tabs on left, content on right)
	 */
	.tabs.vertical {
		/* align-items: flex-start; */
		display: flex;
		margin-top: 60px;
	}

	.tabs.vertical .tabs__nav {
		flex: 0 1 25%;
		flex-direction: column;
		text-align: right;
	}

	.tabs.vertical .tabs__nav li.is-active {
		border: 1px solid #ccc;
		border-right: none;
		margin-bottom: 0;
		margin-right: -1px;
	}

	.tabs.vertical .tabs__content {
		flex: 1 0 75%;
	}
}
