<section class="component component--welcome">
  <header class="component__header">
    <h2 class="component__title">Welcome!</h2>
  </header>

  <div class="component__content">
    <p>Thanks for checking out Aurora Components. This is a companion project to <a href="https://github.com/carrieforde/Aurora-Core">Aurora Core</a> and <a href="https://github.com/carrieforde/Aurora-Theme">Aurora Theme</a>. Aurora Components includes a number of clean and simple UI components templated with Handlebars and styled with Sass. Components with interaction feature easy-to-use Vanilla JavaScript (no additional libraries needed!).</p>
  </div>
</section>
