/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

.text-primary,
.hover\:text-primary:hover,
.focus\:text-primary:focus,
.active\:text-primary:active {
  color: #e5346c;
}

.text-secondary,
.hover\:text-secondary:hover,
.focus\:text-secondary:focus,
.active\:text-secondary:active {
  color: #eac5de;
}

.text-black,
.hover\:text-black:hover,
.focus\:text-black:focus,
.active\:text-black:active {
  color: #000;
}

.text-dark-gray,
.hover\:text-dark-gray:hover,
.focus\:text-dark-gray:focus,
.active\:text-dark-gray:active {
  color: #333;
}

.text-mid-dark-gray,
.hover\:text-mid-dark-gray:hover,
.focus\:text-mid-dark-gray:focus,
.active\:text-mid-dark-gray:active {
  color: #666;
}

.text-mid-gray,
.hover\:text-mid-gray:hover,
.focus\:text-mid-gray:focus,
.active\:text-mid-gray:active {
  color: #999;
}

.text-mid-light-gray,
.hover\:text-mid-light-gray:hover,
.focus\:text-mid-light-gray:focus,
.active\:text-mid-light-gray:active {
  color: #ccc;
}

.text-light-gray,
.hover\:text-light-gray:hover,
.focus\:text-light-gray:focus,
.active\:text-light-gray:active {
  color: #eee;
}

.text-white,
.hover\:text-white:hover,
.focus\:text-white:focus,
.active\:text-white:active {
  color: #fff;
}

.text-info,
.hover\:text-info:hover,
.focus\:text-info:focus,
.active\:text-info:active {
  color: #0075c4;
}

.text-success,
.hover\:text-success:hover,
.focus\:text-success:focus,
.active\:text-success:active {
  color: #04be51;
}

.text-warning,
.hover\:text-warning:hover,
.focus\:text-warning:focus,
.active\:text-warning:active {
  color: #ffc417;
}

.text-danger,
.hover\:text-danger:hover,
.focus\:text-danger:focus,
.active\:text-danger:active {
  color: #ff3505;
}

.bg-primary,
.hover\:bg-primary:hover,
.focus\:bg-primary:focus,
.active\:bg-primary:active {
  background-color: #e5346c;
}

.bg-secondary,
.hover\:bg-secondary:hover,
.focus\:bg-secondary:focus,
.active\:bg-secondary:active {
  background-color: #eac5de;
}

.bg-black,
.hover\:bg-black:hover,
.focus\:bg-black:focus,
.active\:bg-black:active {
  background-color: #000;
}

.bg-dark-gray,
.hover\:bg-dark-gray:hover,
.focus\:bg-dark-gray:focus,
.active\:bg-dark-gray:active {
  background-color: #333;
}

.bg-mid-dark-gray,
.hover\:bg-mid-dark-gray:hover,
.focus\:bg-mid-dark-gray:focus,
.active\:bg-mid-dark-gray:active {
  background-color: #666;
}

.bg-mid-gray,
.hover\:bg-mid-gray:hover,
.focus\:bg-mid-gray:focus,
.active\:bg-mid-gray:active {
  background-color: #999;
}

.bg-mid-light-gray,
.hover\:bg-mid-light-gray:hover,
.focus\:bg-mid-light-gray:focus,
.active\:bg-mid-light-gray:active {
  background-color: #ccc;
}

.bg-light-gray,
.hover\:bg-light-gray:hover,
.focus\:bg-light-gray:focus,
.active\:bg-light-gray:active {
  background-color: #eee;
}

.bg-white,
.hover\:bg-white:hover,
.focus\:bg-white:focus,
.active\:bg-white:active {
  background-color: #fff;
}

.bg-info,
.hover\:bg-info:hover,
.focus\:bg-info:focus,
.active\:bg-info:active {
  background-color: #0075c4;
}

.bg-success,
.hover\:bg-success:hover,
.focus\:bg-success:focus,
.active\:bg-success:active {
  background-color: #04be51;
}

.bg-warning,
.hover\:bg-warning:hover,
.focus\:bg-warning:focus,
.active\:bg-warning:active {
  background-color: #ffc417;
}

.bg-danger,
.hover\:bg-danger:hover,
.focus\:bg-danger:focus,
.active\:bg-danger:active {
  background-color: #ff3505;
}

.fill-primary,
.hover\:fill-primary:hover,
.focus\:fill-primary:focus,
.active\:fill-primary:active {
  fill: #e5346c;
}

.fill-secondary,
.hover\:fill-secondary:hover,
.focus\:fill-secondary:focus,
.active\:fill-secondary:active {
  fill: #eac5de;
}

.fill-black,
.hover\:fill-black:hover,
.focus\:fill-black:focus,
.active\:fill-black:active {
  fill: #000;
}

.fill-dark-gray,
.hover\:fill-dark-gray:hover,
.focus\:fill-dark-gray:focus,
.active\:fill-dark-gray:active {
  fill: #333;
}

.fill-mid-dark-gray,
.hover\:fill-mid-dark-gray:hover,
.focus\:fill-mid-dark-gray:focus,
.active\:fill-mid-dark-gray:active {
  fill: #666;
}

.fill-mid-gray,
.hover\:fill-mid-gray:hover,
.focus\:fill-mid-gray:focus,
.active\:fill-mid-gray:active {
  fill: #999;
}

.fill-mid-light-gray,
.hover\:fill-mid-light-gray:hover,
.focus\:fill-mid-light-gray:focus,
.active\:fill-mid-light-gray:active {
  fill: #ccc;
}

.fill-light-gray,
.hover\:fill-light-gray:hover,
.focus\:fill-light-gray:focus,
.active\:fill-light-gray:active {
  fill: #eee;
}

.fill-white,
.hover\:fill-white:hover,
.focus\:fill-white:focus,
.active\:fill-white:active {
  fill: #fff;
}

.fill-info,
.hover\:fill-info:hover,
.focus\:fill-info:focus,
.active\:fill-info:active {
  fill: #0075c4;
}

.fill-success,
.hover\:fill-success:hover,
.focus\:fill-success:focus,
.active\:fill-success:active {
  fill: #04be51;
}

.fill-warning,
.hover\:fill-warning:hover,
.focus\:fill-warning:focus,
.active\:fill-warning:active {
  fill: #ffc417;
}

.fill-danger,
.hover\:fill-danger:hover,
.focus\:fill-danger:focus,
.active\:fill-danger:active {
  fill: #ff3505;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.serif {
  font-family: Georgia, times, serif;
}

.monospace {
  font-family: Consolas, monaco, monospace;
}

.font-default {
  font-size: 1rem;
}

.font-h1 {
  font-size: 2.25rem;
}

.font-h2 {
  font-size: 2rem;
}

.font-h3 {
  font-size: 1.5rem;
}

.font-h4 {
  font-size: 1.25rem;
}

.font-h5 {
  font-size: 1rem;
}

.font-h6 {
  font-size: 0.75rem;
}

.font-hairline {
  font-weight: 100;
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.lh-none {
  line-height: 1;
}

.lh-tight {
  line-height: 1.25;
}

.lh-normal {
  line-height: 1.6;
}

.lh-loose {
  line-height: 2;
}

.ls-tight {
  letter-spacing: 0.05em;
}

.ls-normal {
  letter-spacing: 0;
}

.ls-wide {
  letter-spacing: 0.05em;
}

.text-left {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.wordwrap-break {
  word-wrap: break-word;
}

.wordwrap-normal {
  word-wrap: normal;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: rem(-1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.italic,
.hover\:italic:hover,
.active\:italic:active,
.focus\:italic:focus {
  font-style: italic;
}

.normal,
.hover\:normal:hover,
.active\:normal:active,
.focus\:normal:focus {
  font-style: normal;
}

.oblique,
.hover\:oblique:hover,
.active\:oblique:active,
.focus\:oblique:focus {
  font-style: oblique;
}

.lowercase,
.hover\:lowercase:hover,
.active\:lowercase:active,
.focus\:lowercase:focus {
  text-transform: lowercase;
}

.uppercase,
.hover\:uppercase:hover,
.active\:uppercase:active,
.focus\:uppercase:focus {
  text-transform: uppercase;
}

.capitalize,
.hover\:capitalize:hover,
.active\:capitalize:active,
.focus\:capitalize:focus {
  text-transform: capitalize;
}

.normal-case,
.hover\:normal-case:hover,
.active\:normal-case:active,
.focus\:normal-case:focus {
  text-transform: none;
}

.underline,
.hover\:underline:hover,
.active\:underline:active,
.focus\:underline:focus {
  text-decoration: underline;
}

.no-underline,
.hover\:no-underline:hover,
.active\:no-underline:active,
.focus\:no-underline:focus {
  text-decoration: none;
}

.line-through,
.hover\:line-through:hover,
.active\:line-through:active,
.focus\:line-through:focus {
  text-decoration: line-through;
}

.m--1 {
  margin: -1px;
}

.m-v--1 {
  margin-bottom: -1px;
  margin-top: -1px;
}

.m-h--1 {
  margin-left: -1px;
  margin-right: -1px;
}

.m-t--1 {
  margin-top: -1px;
}

.m-r--1 {
  margin-right: -1px;
}

.m-b--1 {
  margin-bottom: -1px;
}

.m-l--1 {
  margin-left: -1px;
}

.m-auto {
  margin: auto;
}

.m-v-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.m-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-t-auto {
  margin-top: auto;
}

.m-r-auto {
  margin-right: auto;
}

.m-b-auto {
  margin-bottom: auto;
}

.m-l-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.m-v-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.m-h-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-5 {
  margin: 0.3125rem;
}

.m-v-5 {
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
}

.m-h-5 {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.m-t-5 {
  margin-top: 0.3125rem;
}

.m-r-5 {
  margin-right: 0.3125rem;
}

.m-b-5 {
  margin-bottom: 0.3125rem;
}

.m-l-5 {
  margin-left: 0.3125rem;
}

.m-10 {
  margin: 0.625rem;
}

.m-v-10 {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

.m-h-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-t-10 {
  margin-top: 0.625rem;
}

.m-r-10 {
  margin-right: 0.625rem;
}

.m-b-10 {
  margin-bottom: 0.625rem;
}

.m-l-10 {
  margin-left: 0.625rem;
}

.m-20 {
  margin: 1.25rem;
}

.m-v-20 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.m-h-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-t-20 {
  margin-top: 1.25rem;
}

.m-r-20 {
  margin-right: 1.25rem;
}

.m-b-20 {
  margin-bottom: 1.25rem;
}

.m-l-20 {
  margin-left: 1.25rem;
}

.m-40 {
  margin: 2.5rem;
}

.m-v-40 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.m-h-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-t-40 {
  margin-top: 2.5rem;
}

.m-r-40 {
  margin-right: 2.5rem;
}

.m-b-40 {
  margin-bottom: 2.5rem;
}

.m-l-40 {
  margin-left: 2.5rem;
}

.m-60 {
  margin: 3.75rem;
}

.m-v-60 {
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
}

.m-h-60 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.m-t-60 {
  margin-top: 3.75rem;
}

.m-r-60 {
  margin-right: 3.75rem;
}

.m-b-60 {
  margin-bottom: 3.75rem;
}

.m-l-60 {
  margin-left: 3.75rem;
}

.m-80 {
  margin: 5rem;
}

.m-v-80 {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.m-h-80 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.m-t-80 {
  margin-top: 5rem;
}

.m-r-80 {
  margin-right: 5rem;
}

.m-b-80 {
  margin-bottom: 5rem;
}

.m-l-80 {
  margin-left: 5rem;
}

.m-100 {
  margin: 62.5rem;
}

.m-v-100 {
  margin-bottom: 62.5rem;
  margin-top: 62.5rem;
}

.m-h-100 {
  margin-left: 62.5rem;
  margin-right: 62.5rem;
}

.m-t-100 {
  margin-top: 62.5rem;
}

.m-r-100 {
  margin-right: 62.5rem;
}

.m-b-100 {
  margin-bottom: 62.5rem;
}

.m-l-100 {
  margin-left: 62.5rem;
}

.p-0 {
  padding: 0;
}

.p-v-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.p-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-5 {
  padding: 0.3125rem;
}

.p-v-5 {
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
}

.p-h-5 {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.p-t-5 {
  padding-top: 0.3125rem;
}

.p-r-5 {
  padding-right: 0.3125rem;
}

.p-b-5 {
  padding-bottom: 0.3125rem;
}

.p-l-5 {
  padding-left: 0.3125rem;
}

.p-10 {
  padding: 0.625rem;
}

.p-v-10 {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.p-h-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-t-10 {
  padding-top: 0.625rem;
}

.p-r-10 {
  padding-right: 0.625rem;
}

.p-b-10 {
  padding-bottom: 0.625rem;
}

.p-l-10 {
  padding-left: 0.625rem;
}

.p-20 {
  padding: 1.25rem;
}

.p-v-20 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.p-h-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-t-20 {
  padding-top: 1.25rem;
}

.p-r-20 {
  padding-right: 1.25rem;
}

.p-b-20 {
  padding-bottom: 1.25rem;
}

.p-l-20 {
  padding-left: 1.25rem;
}

.p-40 {
  padding: 2.5rem;
}

.p-v-40 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.p-h-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-t-40 {
  padding-top: 2.5rem;
}

.p-r-40 {
  padding-right: 2.5rem;
}

.p-b-40 {
  padding-bottom: 2.5rem;
}

.p-l-40 {
  padding-left: 2.5rem;
}

.p-60 {
  padding: 3.75rem;
}

.p-v-60 {
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
}

.p-h-60 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.p-t-60 {
  padding-top: 3.75rem;
}

.p-r-60 {
  padding-right: 3.75rem;
}

.p-b-60 {
  padding-bottom: 3.75rem;
}

.p-l-60 {
  padding-left: 3.75rem;
}

.p-80 {
  padding: 5rem;
}

.p-v-80 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.p-h-80 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.p-t-80 {
  padding-top: 5rem;
}

.p-r-80 {
  padding-right: 5rem;
}

.p-b-80 {
  padding-bottom: 5rem;
}

.p-l-80 {
  padding-left: 5rem;
}

.p-100 {
  padding: 62.5rem;
}

.p-v-100 {
  padding-bottom: 62.5rem;
  padding-top: 62.5rem;
}

.p-h-100 {
  padding-left: 62.5rem;
  padding-right: 62.5rem;
}

.p-t-100 {
  padding-top: 62.5rem;
}

.p-r-100 {
  padding-right: 62.5rem;
}

.p-b-100 {
  padding-bottom: 62.5rem;
}

.p-l-100 {
  padding-left: 62.5rem;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.none {
  display: none;
}

.ai-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.ac-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.ac-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.ac-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.ac-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.ac-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.as-auto {
  -ms-flex-item-align: auto;
      align-self: auto;
}

.as-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.as-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.as-end {
  -ms-flex-item-align: end;
      align-self: end;
}

.as-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initial {
  flex-initial: initial;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.b-0 {
  border: 0 solid;
}

.b-v-0 {
  border-bottom: 0 solid;
  border-top: 0 solid;
}

.b-h-0 {
  border-left: 0 solid;
  border-right: 0 solid;
}

.b-t-0 {
  border-top: 0 solid;
}

.b-r-0 {
  border-right: 0 solid;
}

.b-b-0 {
  border-bottom: 0 solid;
}

.b-l-0 {
  border-left: 0 solid;
}

.b-thin {
  border: 1px solid;
}

.b-v-thin {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.b-h-thin {
  border-left: 1px solid;
  border-right: 1px solid;
}

.b-t-thin {
  border-top: 1px solid;
}

.b-r-thin {
  border-right: 1px solid;
}

.b-b-thin {
  border-bottom: 1px solid;
}

.b-l-thin {
  border-left: 1px solid;
}

.b-medium {
  border: 2px solid;
}

.b-v-medium {
  border-bottom: 2px solid;
  border-top: 2px solid;
}

.b-h-medium {
  border-left: 2px solid;
  border-right: 2px solid;
}

.b-t-medium {
  border-top: 2px solid;
}

.b-r-medium {
  border-right: 2px solid;
}

.b-b-medium {
  border-bottom: 2px solid;
}

.b-l-medium {
  border-left: 2px solid;
}

.b-thick {
  border: 3px solid;
}

.b-v-thick {
  border-bottom: 3px solid;
  border-top: 3px solid;
}

.b-h-thick {
  border-left: 3px solid;
  border-right: 3px solid;
}

.b-t-thick {
  border-top: 3px solid;
}

.b-r-thick {
  border-right: 3px solid;
}

.b-b-thick {
  border-bottom: 3px solid;
}

.b-l-thick {
  border-left: 3px solid;
}

.b-x-thick {
  border: 10px solid;
}

.b-v-x-thick {
  border-bottom: 10px solid;
  border-top: 10px solid;
}

.b-h-x-thick {
  border-left: 10px solid;
  border-right: 10px solid;
}

.b-t-x-thick {
  border-top: 10px solid;
}

.b-r-x-thick {
  border-right: 10px solid;
}

.b-b-x-thick {
  border-bottom: 10px solid;
}

.b-l-x-thick {
  border-left: 10px solid;
}

.b-dashed {
  border-style: dashed;
}

.b-dotted {
  border-style: dotted;
}

.b-none {
  border-style: none;
}

.b-primary,
.hover\:b-primary:hover,
.focus\:b-primary:focus {
  border-color: #e5346c;
}

.b-secondary,
.hover\:b-secondary:hover,
.focus\:b-secondary:focus {
  border-color: #eac5de;
}

.b-black,
.hover\:b-black:hover,
.focus\:b-black:focus {
  border-color: #000;
}

.b-dark-gray,
.hover\:b-dark-gray:hover,
.focus\:b-dark-gray:focus {
  border-color: #333;
}

.b-mid-dark-gray,
.hover\:b-mid-dark-gray:hover,
.focus\:b-mid-dark-gray:focus {
  border-color: #666;
}

.b-mid-gray,
.hover\:b-mid-gray:hover,
.focus\:b-mid-gray:focus {
  border-color: #999;
}

.b-mid-light-gray,
.hover\:b-mid-light-gray:hover,
.focus\:b-mid-light-gray:focus {
  border-color: #ccc;
}

.b-light-gray,
.hover\:b-light-gray:hover,
.focus\:b-light-gray:focus {
  border-color: #eee;
}

.b-white,
.hover\:b-white:hover,
.focus\:b-white:focus {
  border-color: #fff;
}

.b-info,
.hover\:b-info:hover,
.focus\:b-info:focus {
  border-color: #0075c4;
}

.b-success,
.hover\:b-success:hover,
.focus\:b-success:focus {
  border-color: #04be51;
}

.b-warning,
.hover\:b-warning:hover,
.focus\:b-warning:focus {
  border-color: #ffc417;
}

.b-danger,
.hover\:b-danger:hover,
.focus\:b-danger:focus {
  border-color: #ff3505;
}

.max-w-0 {
  max-width: 0;
}

.max-w-content {
  max-width: 1100px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-screen {
  max-width: 100vw;
}

.min-w-0 {
  min-width: 0;
}

.min-w-content {
  min-width: 1100px;
}

.min-w-full {
  min-width: 100%;
}

.min-w-screen {
  min-width: 100vw;
}

.w-0 {
  width: 0;
}

.w-content {
  width: 1100px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-0 {
  height: 0;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-0 {
  max-height: 0;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

.min-h-0 {
  min-height: 0;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-hidden {
  overflow: hidden;
}

.o-auto {
  overflow: auto;
}

.o-scroll {
  overflow: scroll;
}

.ox-scroll {
  overflow-x: scroll;
}

.oy-scroll {
  overflow-y: scroll;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.pos-t {
  top: 0;
}

.pos-r {
  right: 0;
}

.pos-b {
  bottom: 0;
}

.pos-l {
  left: 0;
}

.pos-h-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pos-v-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.trs-all {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.trs-c {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.trs-mh {
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.trs-o {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.button--plus-minus {
  height: 20px;
  top: 7.5px;
  width: 20px;
}

.button--plus-minus:after, .button--plus-minus:before {
  background-color: #e5346c;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}

.button--plus-minus:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 600px) {
  .sm\:block {
    display: block;
  }
  .sm\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm\:grid {
    display: grid;
  }
  .sm\:inline-block {
    display: inline-block;
  }
  .sm\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .sm\:none {
    display: none;
  }
  .sm\:ai-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .sm\:ai-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sm\:ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sm\:ai-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .sm\:ai-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .sm\:ac-center {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .sm\:ac-start {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .sm\:ac-end {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .sm\:ac-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .sm\:ac-between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .sm\:as-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .sm\:as-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .sm\:as-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .sm\:as-end {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .sm\:as-stretch {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .sm\:jc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sm\:jc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sm\:jc-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sm\:jc-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sm\:jc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sm\:initial {
    flex-initial: initial;
  }
  .sm\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .sm\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .sm\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .sm\:1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .sm\:flex-grow-0 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .sm\:1 {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .sm\:flex-shrink-0 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .sm\:flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sm\:flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sm\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sm\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .sm\:wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sm\:flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .sm\:flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .sm\:max-w-0 {
    max-width: 0;
  }
  .sm\:max-w-content {
    max-width: 1100px;
  }
  .sm\:max-w-full {
    max-width: 100%;
  }
  .sm\:max-w-screen {
    max-width: 100vw;
  }
  .sm\:min-w-0 {
    min-width: 0;
  }
  .sm\:min-w-content {
    min-width: 1100px;
  }
  .sm\:min-w-full {
    min-width: 100%;
  }
  .sm\:min-w-screen {
    min-width: 100vw;
  }
  .sm\:w-0 {
    width: 0;
  }
  .sm\:w-content {
    width: 1100px;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:w-screen {
    width: 100vw;
  }
  .sm\:h-0 {
    height: 0;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:h-screen {
    height: 100vh;
  }
  .sm\:max-h-0 {
    max-height: 0;
  }
  .sm\:max-h-full {
    max-height: 100%;
  }
  .sm\:max-h-screen {
    max-height: 100vh;
  }
  .sm\:min-h-0 {
    min-height: 0;
  }
  .sm\:min-h-full {
    min-height: 100%;
  }
  .sm\:min-h-screen {
    min-height: 100vh;
  }
}

@media screen and (min-width: 900px) {
  .m\:block {
    display: block;
  }
  .m\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m\:grid {
    display: grid;
  }
  .m\:inline-block {
    display: inline-block;
  }
  .m\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .m\:none {
    display: none;
  }
  .m\:ai-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .m\:ai-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m\:ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .m\:ai-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .m\:ai-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .m\:ac-center {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .m\:ac-start {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .m\:ac-end {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .m\:ac-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .m\:ac-between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .m\:as-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .m\:as-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .m\:as-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .m\:as-end {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .m\:as-stretch {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .m\:jc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .m\:jc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .m\:jc-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .m\:jc-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .m\:jc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .m\:initial {
    flex-initial: initial;
  }
  .m\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .m\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .m\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .m\:1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .m\:flex-grow-0 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .m\:1 {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .m\:flex-shrink-0 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .m\:flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m\:flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .m\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .m\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .m\:wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .m\:flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .m\:flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .m\:max-w-0 {
    max-width: 0;
  }
  .m\:max-w-content {
    max-width: 1100px;
  }
  .m\:max-w-full {
    max-width: 100%;
  }
  .m\:max-w-screen {
    max-width: 100vw;
  }
  .m\:min-w-0 {
    min-width: 0;
  }
  .m\:min-w-content {
    min-width: 1100px;
  }
  .m\:min-w-full {
    min-width: 100%;
  }
  .m\:min-w-screen {
    min-width: 100vw;
  }
  .m\:w-0 {
    width: 0;
  }
  .m\:w-content {
    width: 1100px;
  }
  .m\:w-full {
    width: 100%;
  }
  .m\:w-screen {
    width: 100vw;
  }
  .m\:h-0 {
    height: 0;
  }
  .m\:h-full {
    height: 100%;
  }
  .m\:h-screen {
    height: 100vh;
  }
  .m\:max-h-0 {
    max-height: 0;
  }
  .m\:max-h-full {
    max-height: 100%;
  }
  .m\:max-h-screen {
    max-height: 100vh;
  }
  .m\:min-h-0 {
    min-height: 0;
  }
  .m\:min-h-full {
    min-height: 100%;
  }
  .m\:min-h-screen {
    min-height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .lg\:block {
    display: block;
  }
  .lg\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lg\:grid {
    display: grid;
  }
  .lg\:inline-block {
    display: inline-block;
  }
  .lg\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .lg\:none {
    display: none;
  }
  .lg\:ai-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .lg\:ai-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lg\:ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .lg\:ai-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .lg\:ai-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lg\:ac-center {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .lg\:ac-start {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .lg\:ac-end {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .lg\:ac-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .lg\:ac-between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .lg\:as-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .lg\:as-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .lg\:as-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .lg\:as-end {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .lg\:as-stretch {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .lg\:jc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .lg\:jc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .lg\:jc-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .lg\:jc-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .lg\:jc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lg\:initial {
    flex-initial: initial;
  }
  .lg\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .lg\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .lg\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .lg\:1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .lg\:flex-grow-0 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .lg\:1 {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .lg\:flex-shrink-0 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .lg\:flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lg\:flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lg\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .lg\:wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lg\:flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .lg\:flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .lg\:max-w-0 {
    max-width: 0;
  }
  .lg\:max-w-content {
    max-width: 1100px;
  }
  .lg\:max-w-full {
    max-width: 100%;
  }
  .lg\:max-w-screen {
    max-width: 100vw;
  }
  .lg\:min-w-0 {
    min-width: 0;
  }
  .lg\:min-w-content {
    min-width: 1100px;
  }
  .lg\:min-w-full {
    min-width: 100%;
  }
  .lg\:min-w-screen {
    min-width: 100vw;
  }
  .lg\:w-0 {
    width: 0;
  }
  .lg\:w-content {
    width: 1100px;
  }
  .lg\:w-full {
    width: 100%;
  }
  .lg\:w-screen {
    width: 100vw;
  }
  .lg\:h-0 {
    height: 0;
  }
  .lg\:h-full {
    height: 100%;
  }
  .lg\:h-screen {
    height: 100vh;
  }
  .lg\:max-h-0 {
    max-height: 0;
  }
  .lg\:max-h-full {
    max-height: 100%;
  }
  .lg\:max-h-screen {
    max-height: 100vh;
  }
  .lg\:min-h-0 {
    min-height: 0;
  }
  .lg\:min-h-full {
    min-height: 100%;
  }
  .lg\:min-h-screen {
    min-height: 100vh;
  }
}

@media screen and (min-width: 1800px) {
  .xl\:block {
    display: block;
  }
  .xl\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xl\:grid {
    display: grid;
  }
  .xl\:inline-block {
    display: inline-block;
  }
  .xl\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .xl\:none {
    display: none;
  }
  .xl\:ai-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .xl\:ai-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xl\:ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .xl\:ai-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .xl\:ai-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .xl\:ac-center {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .xl\:ac-start {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .xl\:ac-end {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .xl\:ac-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .xl\:ac-between {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .xl\:as-auto {
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .xl\:as-start {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .xl\:as-center {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .xl\:as-end {
    -ms-flex-item-align: end;
        align-self: end;
  }
  .xl\:as-stretch {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  .xl\:jc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .xl\:jc-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .xl\:jc-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .xl\:jc-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .xl\:jc-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xl\:initial {
    flex-initial: initial;
  }
  .xl\:flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .xl\:flex-auto {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .xl\:flex-none {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .xl\:1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .xl\:flex-grow-0 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .xl\:1 {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .xl\:flex-shrink-0 {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .xl\:flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .xl\:flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .xl\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .xl\:flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .xl\:wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .xl\:flex-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .xl\:flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .xl\:max-w-0 {
    max-width: 0;
  }
  .xl\:max-w-content {
    max-width: 1100px;
  }
  .xl\:max-w-full {
    max-width: 100%;
  }
  .xl\:max-w-screen {
    max-width: 100vw;
  }
  .xl\:min-w-0 {
    min-width: 0;
  }
  .xl\:min-w-content {
    min-width: 1100px;
  }
  .xl\:min-w-full {
    min-width: 100%;
  }
  .xl\:min-w-screen {
    min-width: 100vw;
  }
  .xl\:w-0 {
    width: 0;
  }
  .xl\:w-content {
    width: 1100px;
  }
  .xl\:w-full {
    width: 100%;
  }
  .xl\:w-screen {
    width: 100vw;
  }
  .xl\:h-0 {
    height: 0;
  }
  .xl\:h-full {
    height: 100%;
  }
  .xl\:h-screen {
    height: 100vh;
  }
  .xl\:max-h-0 {
    max-height: 0;
  }
  .xl\:max-h-full {
    max-height: 100%;
  }
  .xl\:max-h-screen {
    max-height: 100vh;
  }
  .xl\:min-h-0 {
    min-height: 0;
  }
  .xl\:min-h-full {
    min-height: 100%;
  }
  .xl\:min-h-screen {
    min-height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */