/*! sanitize.css v4.1.0 | CC0 License | github.com/jonathantneal/sanitize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"],
.button {
  background-color: #999;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
input[type="file"]:visited,
.button:visited {
  background-color: #999;
}

button:hover, button:active, button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="file"]:hover,
input[type="file"]:active,
input[type="file"]:focus,
.button:hover,
.button:active,
.button:focus {
  background-color: #adadad;
}

.button.button--small {
  font-size: 0.8em;
}

.button.button--md {
  font-size: 1.2em;
}

.button.button--lg {
  font-size: 1.4em;
}

.button.button--primary {
  background-color: #e5346c;
}

.button.button--primary:visited {
  background-color: #e5346c;
}

.button.button--primary:hover, .button.button--primary:active, .button.button--primary:focus {
  background-color: rgba(229, 52, 108, 0.8);
}

.button.button--info {
  background-color: #0075c4;
}

.button.button--info:visited {
  background-color: #0075c4;
}

.button.button--info:hover, .button.button--info:active, .button.button--info:focus {
  background-color: rgba(0, 117, 196, 0.8);
}

.button.button--success {
  background-color: #04be51;
}

.button.button--success:visited {
  background-color: #04be51;
}

.button.button--success:hover, .button.button--success:active, .button.button--success:focus {
  background-color: rgba(4, 190, 81, 0.8);
}

.button.button--warning {
  background-color: #ffc417;
}

.button.button--warning:visited {
  background-color: #ffc417;
}

.button.button--warning:hover, .button.button--warning:active, .button.button--warning:focus {
  background-color: rgba(255, 196, 23, 0.8);
}

.button.button--danger {
  background-color: #ff3505;
}

.button.button--danger:visited {
  background-color: #ff3505;
}

.button.button--danger:hover, .button.button--danger:active, .button.button--danger:focus {
  background-color: rgba(255, 53, 5, 0.8);
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form li + li {
  margin-top: 1.25rem;
}

label {
  display: block;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled {
  cursor: not-allowed;
}

input[type="color"].invalid,
input[type="date"].invalid,
input[type="datetime"].invalid,
input[type="datetime-local"].invalid,
input[type="email"].invalid,
input[type="month"].invalid,
input[type="number"].invalid,
input[type="password"].invalid,
input[type="search"].invalid,
input[type="tel"].invalid,
input[type="text"].invalid,
input[type="time"].invalid,
input[type="url"].invalid,
input[type="week"].invalid,
input:not([type]).invalid,
textarea.invalid {
  border-color: #ff3505;
}

input[type="color"].valid,
input[type="date"].valid,
input[type="datetime"].valid,
input[type="datetime-local"].valid,
input[type="email"].valid,
input[type="month"].valid,
input[type="number"].valid,
input[type="password"].valid,
input[type="search"].valid,
input[type="tel"].valid,
input[type="text"].valid,
input[type="time"].valid,
input[type="url"].valid,
input[type="week"].valid,
input:not([type]).valid,
textarea.valid {
  border-color: #04be51;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 0.125em rgba(229, 52, 108, 0.25);
          box-shadow: 0 0 0 0.125em rgba(229, 52, 108, 0.25);
  border-color: #e5346c;
  outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  cursor: not-allowed;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: not-allowed;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.3125rem;
  margin-right: 0.625rem;
}

fieldset {
  border: 1px solid #999;
}

html {
  font-size: 16px;
}

body,
button,
input,
select,
textarea {
  color: #333;
  font: 400 16px/1.6 Fira Sans, sans-serif;
}

:focus {
  outline-color: #e5346c;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .hfrom {
  font-weight: 700;
  margin: 0 0 0.5em;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #e5346c;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:visited {
  color: #e5346c;
}

a:hover, a:active, a:focus {
  color: #eac5de;
}

ins,
mark {
  background-color: #ffc417;
  color: #333;
  text-decoration: none;
}

abbr {
  cursor: help;
}

kbd,
code,
pre,
samp,
tt,
var {
  font: 400 16px/1.6 Fira Mono, monospace;
}

pre {
  overflow-x: scroll;
  margin: 0 0 2em;
}

blockquote {
  font-size: 1.25em;
}

blockquote cite {
  display: block;
  font-size: 0.8em;
}

cite {
  font-weight: 700;
}

hr {
  background-color: #999;
  border: 0;
  height: 2px;
}

.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
}

.accordion li {
  padding: 1.25rem;
}

.accordion li + li {
  border-top: 1px solid #999;
}

.accordion__heading {
  margin-bottom: 0;
}

.accordion__button {
  background-color: transparent;
  padding: 0;
  text-align: left;
  width: 100%;
}

.accordion__button:hover, .accordion__button:focus {
  background-color: transparent;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.is-active .accordion__content {
  max-height: 100vh;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  height: 46.25rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 75rem;
}

.carousel__nav {
  background-color: rgba(0, 0, 0, 0.7);
  left: 1.25rem;
  padding: 0.3125rem;
  position: absolute;
  top: 1.25rem;
  z-index: 3;
}

.carousel__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__nav li {
  display: inline-block;
  height: 7.8125rem;
  overflow: hidden;
  vertical-align: middle;
  width: 10.9375rem;
}

.carousel__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.carousel__slide.is-active {
  opacity: 1;
}

.carousel img {
  height: auto;
  max-width: 100%;
}

.tabs {
  margin-top: 2.5rem;
}

.tabs__nav {
  border: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.tabs__nav li {
  border-top: 0;
}

.tabs__nav li.is-active a {
  color: #e5346c;
  font-weight: 600;
}

.tabs__nav a {
  color: #999;
  display: block;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
}

.tabs__content {
  background-color: #fff;
  border: 1px solid #999;
  display: none;
  padding: 1.25rem;
}

.tabs__content.is-active {
  display: block;
}

.tabs.tabs--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.75rem;
}

.tabs.tabs--vertical .tabs__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.tabs.tabs--vertical .tabs__nav li.is-active {
  border: 1px solid #999;
  border-right: 0;
  margin-bottom: 0;
  margin-right: -0.0625rem;
}

.tabs.tabs--vertical .tabs__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu > li {
  position: relative;
}

.menu > li:last-of-type a {
  padding-right: 0;
}

.menu > li:hover .menu__sub-menu, .menu > li.is-toggled .menu__sub-menu {
  max-height: 100vh;
}

.menu a {
  display: block;
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
}

.menu__sub-menu {
  max-height: 0;
  overflow: hidden;
  padding-left: 0;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-header {
  padding: 20px;
}

.site-info {
  font-family: Fira Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
  text-decoration: none;
}

.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 20px;
  width: 68.75rem;
}

.components .page {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: auto 56.25rem;
}

.components .page__header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.module {
  padding: 2.5rem 1.25rem 3.75rem;
}

.menu h4 {
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .tabs__nav {
    border: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tabs__nav li.is-active {
    background-color: #fff;
    border: 1px solid #999;
    border-bottom: 0;
    margin-bottom: -0.0625rem;
    position: relative;
  }
  .module {
    padding: 3.75rem 0 5.625rem;
  }
}

@media only screen and (min-width: 900px) {
  .menu__sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 10.9375rem;
  }
  .flex-column .menu__sub-menu {
    position: relative;
  }
  .reverse-open .menu__sub-menu {
    left: auto;
    right: 0;
  }
  .site-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 599px) {
  .tabs__nav li {
    border-bottom: 0;
  }
  .tabs__nav li + li, .tabs__nav li:first-of-type {
    border-top: 1px solid #999;
  }
  .tabs__nav li.is-active {
    margin-bottom: -0.0625rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tabs__nav li:first-of-type + li {
    border-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */