//--------------------------------------------------------------
// PADDING
//--------------------------------------------------------------
.padding {
	padding: $gutter;

	&--quarter {
		padding: $gutter / 4;
	}

	&--half {
		padding: $gutter / 2;
	}

	&--2x {
		padding: $gutter * 2;
	}

	&--3x {
		padding: $gutter * 3;
	}

	&--4x {
		padding: $gutter * 4;
	}
}
