//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="file"],
.button {
	background-color: $color__default;
	border: 0;
	border-radius: 4px;
	color: $color__white;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;

	&:visited {
		background-color: $color__default;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: #adadad;
	}
}


//-----------------------------------------
// Sizes
//-----------------------------------------
.button {

	&.button {

		&--small {
			font-size: 0.8em;
		}

		&--md {
			font-size: 1.2em;
		}

		&--lg {
			font-size: 1.4em;
		}
	}
}


//-----------------------------------------
// Styles
//-----------------------------------------
.button {

	&.button {

		&--primary {
			background-color: $color__primary;

			&:visited {
				background-color: $color__primary; 
			}

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($color__primary, 0.8);
			}
		}

		&--info {
			background-color: $color__info;

			&:visited {
				background-color: $color__info; 
			}

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($color__info, 0.8);
			}
		}

		&--success {
			background-color: $color__success;

			&:visited {
				background-color: $color__success;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($color__success, 0.8);
			}
		}

		&--warning {
			background-color: $color__warning;

			&:visited {
				background-color: $color__warning;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($color__warning, 0.8);
			}
		}

		&--danger {
			background-color: $color__danger;

			&:visited {
				background-color: $color__danger;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: rgba($color__danger, 0.8);
			}
		}
	}
}

//-----------------------------------------
// Stylized CSS buttons
//-----------------------------------------
.button {

	// Close button.
	&.button--close {
		background-color: transparent;
		padding: $gutter__half;
		position: relative;

		.bar {
			@include position(absolute, 0 0 0 0);
			@include size(rem(15) rem(2));

			background-color: $color__primary;
			display: block;
			margin: auto;

			&-1 {
				transform: rotate(45deg);
			}

			&-2 {
				transform: rotate(-45deg);
			}
		}
	}

	// Plus-Minus (used for sub-menu toggles)
	&.button--plus-minus {
		@include position(absolute, rem(7) 0 null null);
		@include size($gutter);

		background-color: transparent;

		&:hover,
		&:active,
		&:focus {
			background-color: transparent;
		}

		&:after,
		&:before {
			@include position(absolute, 0 0 0 0);
			@include size(rem(10) rem(2));

			background-color: $color__primary;
			content: '';
			display: block;
			margin: auto;
			transition: $transition__transform;
		}

		&:before {
			transform: rotate(-90deg);

			.is-toggled & {
				transform: rotate(0);
			}
		}
	}
}
