//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
form {

	ul {
		@include list-reset;
	}

	li {

		+ li {
			margin-top: rem(20);
		}
	}
}

label {
	display: block;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea {
	border: $border__forms;
	max-width: 100%;
	width: 100%;

	&:disabled {
		cursor: not-allowed;
	}

	&.invalid {
		border-color: $border__invalid;
	}

	&.valid {
		border-color: $border__valid;
	}

	&:focus {
		box-shadow: 0 0 0 0.125em rgba($color__primary, 0.25);
		border-color: $border__forms-focus;
		outline: 0;
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;

	&:disabled {
		cursor: not-allowed;

		+ label {
			cursor: not-allowed;
		}
	}

	+ label {
		display: inline-block;
		margin-left: rem(5);
		margin-right: rem(10);
	}
}

fieldset {
	border: $border__forms;
}
