/*
 * Button
 */

/*
 * Button Palette - from http://colormind.io/bootstrap/
 *
 * Default: #999 / #777
 * Primary: #3d96b6
 * Info: #070607
 * Success: #48a86f
 * Warning: #c59737
 * Danger: #f44336
 */

/* Default styles */
.button,
.button:visited {
	background-color: #999;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.button:hover,
.button:active {
	background-color: #777;
}

/* Size styles */
.button.button-sm {
	font-size: 0.8em;
}

.button.button-md {
	font-size: 1.2em;
}

.button.button-lg {
	font-size: 1.4em;
}

/* Type styles */
.button.button-primary {
	background-color: #3d96b6;
}

.button.button-info {
	background-color: #070607;
}

.button.button-success {
	background-color: #48a86f;
}

.button.button-warning {
	background-color: #c59737;
}

.button.button-danger {
	background-color: #f44336;
}
