<!DOCTYPE html>
<html>
	<head>
		<title>Bov Web Components - Button</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../main.css">
		<link rel="stylesheet" type="text/css" href="button.css">
	</head>
	<body>
		<h3>A Basic Button</h3>
		<div class="button">Buy Now</div>

		<h3>A Button Element with the Button Class</h3>
		<button class="button">Send Mail</button>

		<h3>An Anchor with a Button Class</h3>
		<a href="#" class="button">Search</a>

		<h3>Buttons of different sizes</h3>
		<div class="button button-sm">A Small Button</div>
		<div class="button button-md">A Medium Button</div>
		<div class="button button-lg">A Large Button</div>

		<h3>Buttons of different types</h3>
		<button class="button">Default</button>
		<button class="button button-primary">Primary</button>
		<button class="button button-info">Info</button>
		<button class="button button-success">Sucess</button>
		<button class="button button-warning">Warning</button>
		<button class="button button-danger">Danger</button>
	</body>
</html>
