<!DOCTYPE html>
<html>
	<head>
		<title>Bov Web Components - Button</title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Extra+Condensed:400,400i,700,700i|Fira+Sans:800"
		 rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>
	<body>
		<header class="site-header">
			<div class="site-info">
				<p><a href="../index.html">Bov Web Components</a></p>
			</div>
			<nav class="site-navigation">
				<ul class="menu">
					<li class="menu__item"><a href="../../patterns/form-elements.html">Form Elements</a></li>
					<li class="menu__item"><a href="../../patterns/text-elements.html">Text Elements</a></li>
					<li class="menu__item"><a href="../buttons/index.html">Buttons</a></li>
					<li class="menu__item"><a href="../tabs/index.html">Tabs</a></li>
					<li class="menu__item"><a href="../accordion/index.html">Accordion</a></li>
					<li class="menu__item"><a href="../carousel/index.html">Carousel</a></li>
				</ul>
			</nav>
		</header>

		<main class="page">
			<header class="page__header">
				<h1>Buttons</h1>
			</header>
			<div class="page__content">
				<section class="component component--buttons">
					<h3>A Basic Button</h3>
					<div class="button">Buy Now</div>

					<h3>A Button Element with the Button Class</h3>
					<button class="button">Send Mail</button>

					<h3>An Anchor with a Button Class</h3>
					<a href="#" class="button">Search</a>

					<h3>Buttons of different sizes</h3>
					<div class="button button--sm">A Small Button</div>
					<div class="button button--md">A Medium Button</div>
					<div class="button button--lg">A Large Button</div>

					<h3>Buttons of different types</h3>
					<button class="button">Default</button>
					<button class="button button--primary">Primary</button>
					<button class="button button--info">Info</button>
					<button class="button button--success">Sucess</button>
					<button class="button button--warning">Warning</button>
					<button class="button button--danger">Danger</button>
				</section>
			</div>
		</main>
	</body>
</html>
