//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

@each $key, $value in $colors {

	// .text-{color}, .hover:text-{color}
	.text-#{$key},
	.hover\:text-#{$key}:hover,
	.focus\:text-#{$key}:focus,
	.active\:text-#{$key}:active {
		color: $value;
	}

	// .bg-{color}, .hover:bg-{color}
	.bg-#{$key},
	.hover\:bg-#{$key}:hover {
		background-color: $value
	}

	// .fill-{color}, .hover-fill-{color}
	.fill-#{$key},
	.hover\:fill-#{$key}:hover {
		fill: $value;
	}
}
