//--------------------------------------------------------------
// CONFIGURATION
//--------------------------------------------------------------
$project-prefix: ''; // this should include a dash at the end.

//-----------------------------------------
// Directional Prefixes
//-----------------------------------------
$top: t;
$right: r;
$bottom: b;
$left: l;
$horizontal: h;
$vertical: v;

//-----------------------------------------
// Colors
//-----------------------------------------
$colors: (
	// sass-lint:disable-block no-color-keywords
	primary: #e5346c,
	secondary: #eac5de,
	black: #000,
	dark-gray: #333,
	mid-dark-gray: #666,
	mid-gray: #999,
	mid-light-gray: #ccc,
	light-gray: #eee,
	white: #fff,
	info: #0075c4,
	success: #04be51,
	warning: #ffc417,
	danger: #ff3505
);

//-----------------------------------------
// Typography
//-----------------------------------------
$font-families: (
	sans-serif: #{-apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif},
	serif: #{Georgia, times, serif},
	monospace: #{Consolas, monaco, monospace}
);

$font-sizes: (
	default: 1rem,
	h1: 2.25rem,
	h2: 2rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1rem,
	h6: 0.75rem
);

$font-weights: (
	// sass-lint:disable-block no-color-keywords
	hairline: 100,
	thin: 200,
	light: 300,
	normal: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900
);

$line-heights: (
	none: 1,
	tight: 1.25,
	normal: 1.6,
	loose: 2
);

$letter-spacing: (
	tight: 0.05em,
	normal: 0,
	wide: 0.05em
);

//-----------------------------------------
// Border
//-----------------------------------------
$border-prefix: b;

$border-sizes: (
	thin: 1px,
	medium: 2px,
	thick: 3px,
	x-thick: 10px
);

//-----------------------------------------
// Margin
//-----------------------------------------
$margin-prefix: m;

$margin-sizes: (
	auto: auto,
	0: 0,
	5: 0.3125rem,
	10: 0.625rem,
	20: 1.25rem,
	40: 2.5rem,
	60: 3.75rem,
	80: 5rem,
	100: 62.5rem
);

//-----------------------------------------
// Padding
//-----------------------------------------
$padding-prefix: p;

$padding-sizes: (
	0: 0,
	5: 0.3125rem,
	10: 0.625rem,
	20: 1.25rem,
	40: 2.5rem,
	60: 3.75rem,
	80: 5rem,
	100: 62.5rem
);

//-----------------------------------------
// Breakpoints
//-----------------------------------------
$breakpoints: (
	'sm': 600px,
	'm': 900px,
	'lg': 1200px,
	'xl': 1800px
);

//-----------------------------------------
// Widths
//-----------------------------------------
$widths: (
	0: 0,
	content: 1100px,
	full: 100%,
	screen: 100vw
);

//-----------------------------------------
// Heights
//-----------------------------------------
$heights: (
	0: 0,
	full: 100%,
	screen: 100vh
);
