//--------------------------------------------------------------
// CONFIGURATION
//--------------------------------------------------------------

//-----------------------------------------
// Colors
//-----------------------------------------
$colors: (
	// sass-lint:disable-block no-color-keywords
	primary: #e5346c,
	secondary: #eac5de,
	black: #000,
	dark-gray: #333,
	mid-dark-gray: #666,
	mid-gray: #999,
	mid-light-gray: #ccc,
	light-gray: #eee,
	white: #fff,
	info: #0075c4,
	success: #04be51,
	warning: #ffc417,
	danger: #ff3505
);

//-----------------------------------------
// Typography
//-----------------------------------------
$font-families: (
	sans-serif: #{-apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif},
	serif: #{Georgia, times, serif},
	monospace: #{Consolas, monaco, monospace}
);

$font-sizes: (
	default: 1rem,
	h1: 2.25rem,
	h2: 2rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1rem,
	h6: 0.75rem
);

$font-weights: (
	// sass-lint:disable-block no-color-keywords
	hairline: 100,
	thin: 200,
	light: 300,
	normal: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900
);

$line-heights: (
	none: 1,
	tight: 1.25,
	normal: 1.6,
	loose: 2
);

$letter-spacing: (
	tight: 0.05em,
	normal: 0,
	wide: 0.05em
);

//-----------------------------------------
// Margin
//-----------------------------------------
$margin-sizes: (
	5: 5,
	10: 10,
	20: 20,
	40: 40,
	60: 60,
	80: 80,
	100: 100
);

//-----------------------------------------
// Padding
//-----------------------------------------
$padding-sizes: (
	5: 5,
	10: 10,
	20: 20,
	40: 40,
	60: 60,
	80: 80,
	100: 100
);
