//--------------------------------------------------------------
// OVERFLOW
//--------------------------------------------------------------
.o-hidden {
	overflow: hidden;
}

.o-auto {
	overflow: auto;
}

.o-scroll {
	overflow: scroll;
}

.ox-scroll {
	overflow-x: scroll;
}

.oy-scroll {
	overflow-y: scroll;
}
