//--------------------------------------------------------------
// MAIN
//
// This is the mainifest for the project Sass.
//--------------------------------------------------------------

// Utilities
@import 'utilities/index';

// Components
@import '../../components/accordion/accordion';
@import '../../components/buttons/buttons';
@import '../../components/carousel/carousel';
@import '../../components/tabs/tabs';

// General page styles (for now)
* {
	box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
	font-family: $font__body;
}

#{headings(1, 6)}{
	@if ($font__headings-line-height != $font__body-line-height) {

		line-height: $font__headings-line-height;
	}

	margin: 0 0 0 0.5em;
}

.site-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__item {
	display: inline-block;
}

.menu__item + .menu__item {
	margin-left: 20px;
}

.page {
	padding: 20px;
}
