// ----------------------------------------------------------------------------
// ACCORDION
// ----------------------------------------------------------------------------
$accordion__background: $color__white;
$accordion__border: $border__default;
$accordion__toggle: $color__default;
$accordion__toggle-active: $color__primary;

.accordion {
	background-color: $accordion__background;
	border: $accordion__border;

	li {
		padding: $gutter;

		+ li {
			border-top: $accordion__border;
		}
	}

	// .accordion__heading
	&__heading {
		margin-bottom: 0;
	}

	// .accordion__toggle
	&__toggle {
		color: $accordion__toggle;
		text-decoration: none;

		.is-active &,
		&:hover,
		&:focus {
			color: $accordion__toggle-active;
		}
	}

	// .accordion__content
	&__content {
		max-height: 0;
		overflow: hidden;
		transition: $transition__max-height;
		transition-duration: 0.5s;

		.is-active & {
			max-height: 100vh;
		}
	}
} // .accordion
