// ----------------------------------------------------------------------------
// CAROUSEL
// ----------------------------------------------------------------------------
.carousel {
	max-width: 100%;
	position: relative;
	width: 100%;

	// .carousel__slides
	&__slides {
		display: flex;
		overflow-x: auto;
	}

	// .carousel__slide
	&__slide {
		flex-shrink: 1;
		opacity: 0;
		overflow: hidden;
		transition: $transition__opacity;

		&.is-active {
			flex-shrink: 0;
			opacity: 1;
			width: 100%;
		}
	}

	// .carousel__dots
	&__dots {
		@include position(absolute, null 0 $gutter * -2 0);

		text-align: center;

		a {
			@include size(rem(10));

			background-color: $color__secondary;
			border-radius: 50%;
			display: inline-block;
			transition: $transition__height, $transition__width;
			transition-duration: 0.5s;
			vertical-align: middle;

			+ a {
				margin-left: $gutter / 2;
			}

			&.is-active {
				@include size(rem(12));

				background-color: $color__primary;
			}
		}
	}

	// .carousel__button
	&__button {
		@include position(absolute, 50% null null null);

		background-color: rgba($color__white, 0.8);
		color: $color__primary;
		transform: translateY(-50%);
		z-index: 2;

		&:hover,
		&:focus {
			background-color: $color__white;
		}

		&--previous {
			left: $gutter;
		}

		&--next {
			right: $gutter;
		}
	}
} // .carousel
