<!DOCTYPE html>
<html>
	<head>
		<title>Header Navigation</title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Extra+Condensed:400,400i,700,700i|Fira+Sans:800"
		 rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../style.css">
	</head>

	<body>
		<header class="site-header">
			<div class="site-info">
				<p><a href="../index.html">Bov Web Components</a></p>
			</div>
			<nav class="site-navigation">
				<ul class="menu">
					<li class="menu__item"><a href="../../patterns/form-elements.html">Form Elements</a></li>
					<li class="menu__item"><a href="../../patterns/text-elements.html">Text Elements</a></li>
					<li class="menu__item"><a href="../buttons/index.html">Buttons</a></li>
					<li class="menu__item"><a href="../tabs/index.html">Tabs</a></li>
					<li class="menu__item"><a href="../accordion/index.html">Accordion</a></li>
					<li class="menu__item"><a href="../carousel/index.html">Carousel</a></li>
				</ul>
			</nav>
		</header>

		<main class="page">
			<header class="page__header">
				<h1>Nav Menu</h1>
			</header>
			<div class="page__content">
				<header class="site-header">
					<div class="site-info">Header Navigation</div>
					<nav class="nav-menu">
						<ul class="menu" aria-expanded="false">
							<li><a href="#about">About</a></li>
							<li><a href="#projects">Projects</a></li>
							<li>
								<a href="#skills">Skills</a>
								<ul class="menu__sub-menu">
									<li><a href="#front-end">Front-End</a></li>
									<li><a href="#back-end">Back-End</a></li>
									<li><a href="#other">Other</a></li>
								</ul>
							</li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</header>
				<section id="about" class="section">
					<header class="section__header">
						<h2>About</h2>
					</header>
					<div class="section__content">
						<p>Lorem ipsum dolor sit amet, has nusquam civibus definiebas in, pri simul audiam lucilius ut, zril iuvaret voluptua an vel. Ex audiam prompta mel, et sanctus legendos tacimates eam, nec ad nibh accusam delectus. Cu has utinam tempor, atomorum theophrastus no duo. Mei nemore perfecto et, mei latine aperiam ut. Wisi sententiae his et, ad ius legendos deserunt. Te usu assueverit scriptorem. In mel qualisque voluptatibus, simul laboramus cu est.</p>
					</div>
				</section>
				<section id="projects" class="section">
					<header class="section__header">
						<h2>Projects</h2>
					</header>
					<div class="section__content">
						<p>Lorem ipsum dolor sit amet, has nusquam civibus definiebas in, pri simul audiam lucilius ut, zril iuvaret voluptua an vel. Ex audiam prompta mel, et sanctus legendos tacimates eam, nec ad nibh accusam delectus. Cu has utinam tempor, atomorum theophrastus no duo. Mei nemore perfecto et, mei latine aperiam ut. Wisi sententiae his et, ad ius legendos deserunt. Te usu assueverit scriptorem. In mel qualisque voluptatibus, simul laboramus cu est.</p>
					</div>
				</section>
				<section id="skills" class="section">
					<header class="section__header">
						<h2>Skills</h2>
					</header>
					<div class="section__content">
						<p>Lorem ipsum dolor sit amet, has nusquam civibus definiebas in, pri simul audiam lucilius ut, zril iuvaret voluptua an vel.</p>

						<h3 id="front-end">Front-End Skills</h3>
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
						</ul>

						<h3 id="back-end">Back-End Skills</h3>
						<ul>
							<li>PHP</li>
							<li>Node</li>
							<li>React</li>
						</ul>

						<h3 id="other">Other Skills</h3>
						<ul>
							<li>Writing</li>
							<li>Public Speaking</li>
							<li>Cat caretaking</li>
						</ul>
					</div>
				</section>
				<section id="contact" class="section">
					<header class="section__header">
						<h2>Contact</h2>
					</header>
					<div class="section__content">
						<p>Lorem ipsum dolor sit amet, has nusquam civibus definiebas in, pri simul audiam lucilius ut, zril iuvaret voluptua an vel. Ex audiam <a href="#">prompta</a> mel, et sanctus legendos tacimates eam, nec ad nibh accusam delectus. Cu has utinam tempor, atomorum theophrastus no duo. Mei nemore perfecto et, mei latine aperiam ut. Wisi sententiae his et, ad ius legendos deserunt. Te usu assueverit scriptorem. In mel qualisque voluptatibus, simul laboramus cu est.</p>
					</div>
				</section>
			</div>
		</main>
	</body>
	<script src="../../assets/scripts/app.js"></script>
</html>
