/**
 * Carousel
 */
.carousel {
	margin: 0 auto;
	max-width: 100%;
	height: 740px;
	overflow: hidden;
	position: relative;
	width: 1200px;
}

.carousel__nav {
	background-color: rgba(0, 0, 0, 0.7);
	left: 20px;
	padding: 5px;
	position: absolute;
	top: 20px;
	z-index: 3;
}

.carousel__nav ul {
	list-style: 0;
	margin: 0;
	padding: 0;
}

.carousel__nav li {
	display: inline-block;
	height: 125px;
	overflow: hidden;
	vertical-align: middle;
	width: 175px;
}

.carousel__image {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.3s ease-in-out;
}

.carousel__image.is-active {
	opacity: 1;
}

.carousel img {
	height: auto;
	max-width: 100%;
}
