<!DOCTYPE html>
<html>
	<head>
		<title>Carousel</title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Extra+Condensed:400,400i,700,700i|Fira+Sans:800"
		 rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../main.css">
	</head>

	<body>
		<header class="site-header">
			<div class="site-info">
				<p>Bov Web Components</p>
			</div>
			<nav class="site-navigation">
				<ul class="menu">
					<li class="menu__item"><a href="../buttons/index.html">Buttons</a></li>
					<li class="menu__item"><a href="../tabs/index.html">Tabs</a></li>
					<li class="menu__item"><a href="../accordion/index.html">Accordion</a></li>
					<li class="menu__item"><a href="../carousel/index.html">Carousel</a></li>
				</ul>
			</nav>
		</header>

		<main class="page">
			<header class="page__header">
				<h1>Carousel</h1>
			</header>
			<div class="page__content">
				<section class="component component--carousel">
					<div class="carousel">
						<nav class="carousel__nav">
							<ul>
								<li class="is-active" data-thumb="bridge1">
									<img src="https://unsplash.it/400/300?image=392">
								</li>
								<li data-thumb="bridge2">
									<img src="https://unsplash.it/400/300?image=436">
								</li>
								<li data-thumb="bridge3">
									<img src="https://unsplash.it/400/300?image=503">
								</li>
								<li data-thumb="bridge4">
									<img src="https://unsplash.it/400/300?image=613">
								</li>
								<li data-thumb="bridge5">
									<img src="https://unsplash.it/400/300?image=623">
								</li>
							</ul>
						</nav>

						<div class="carousel__slides">
							<div class="carousel__slide is-active" data-slide="bridge1">
								<img src="https://unsplash.it/1200/740?image=392">
							</div>
							<div class="carousel__slide" data-slide="bridge2">
								<img src="https://unsplash.it/1200/740?image=436">
							</div>
							<div class="carousel__slide" data-slide="bridge3">
								<img src="https://unsplash.it/1200/740?image=503">
							</div>
							<div class="carousel__slide" data-slide="bridge4">
								<img src="https://unsplash.it/1200/740?image=613">
							</div>
							<div class="carousel__slide" data-slide="bridge5">
								<img src="https://unsplash.it/1200/740?image=623">
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<script src="carousel.js"></script>
	</body>
</html>
