//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

$brand-colors: (
	primary: #e5346c,
	secondary: #eac5de
);

$neutral-colors: (
	black: #000,
	dark-gray: #333,
	mid-dark-gray: #666,
	mid-gray: #999,
	mid-light-gray: #ccc,
	light-gray: #eee,
	white: #fff
);

$utility-colors: (
	info: #0075c4,
	success: #04be51,
	warning: #ffc417,
	danger: #ff3505
);
