//--------------------------------------------------------------
// ACCORDION
//--------------------------------------------------------------
.accordion {
	
	// .accordion__nav
	&__nav {
		@include list-reset;
		
		border: $border__default;

		li {
			padding: rem(20);

			+ li {
				border-top: $border__default;
			}
		}

		h3 {
			cursor: default;
			margin: 0;
		}
	}

	// .accordion__content
	&__content {
		max-height: 0;
		overflow: hidden;
		transition: $transition__max-height;
		transition-duration: 0.5s;

		.is-active & {
			max-height: 100vh;
		}
	}
} // .accordion
