//--------------------------------------------------------------
// CAROUSEL
//--------------------------------------------------------------
.carousel {
	@include center;
	
	max-width: 100%;
	position: relative;
	width: 100%;

	// .carousel__slides
	&__slides {
		-webkit-overflow-scrolling: touch;
		display: flex;
		overflow-x: auto;
		scroll-behavior: smooth;
		scroll-snap-points-x: repeat(300px);
		scroll-snap-type: mandatory;
	}

	// .carousel__slide
	&__slide {
		transition: $transition__width;
		width: 0;

		&.is-active {
			flex-shrink: 0;
			width: 100%;
		}
	}

	// .carousel__dots
	&__dots {
		display: flex;
		justify-content: center;

		a {
			@include size(rem(15));

			background-color: $color__secondary;
			border-radius: 50%;
			color: $color__white;
		
			+ a {
				margin-left: $gutter__half;
			}
		}
	}

	// .carousel__arrows
	&__button {
		@include position(absolute, 50% null null null);

		&--previous {
			left: $gutter * -1;
		}

		&--next {
			right: $gutter * -1;
		}
	}
} // .carousel
