//--------------------------------------------------------------
// NAV MENU
//--------------------------------------------------------------
.menu {
	@include list-reset;

	display: flex;

	> li {
		position: relative;

		&:last-of-type {

			a {
				padding-right: 0;
			}
		}

		&:hover,
		&.is-toggled {

			.menu__sub-menu {
				max-height: 100vh; // arbitrary value that allows for reasonable flexibility
			}
		}
	}

	a {
		display: block;
		padding: $gutter__quarter $gutter__half;
		text-decoration: none;
	}

	// .menu__sub-menu
	&__sub-menu {

		max-height: 0;
		overflow: hidden;
		padding-left: 0;
		transition: $transition__max-height;
		transition-duration: 0.5s;

		@include media($tablet-landscape-up, null) {
			@include position(absolute, 100% null null 0);

			background-color: $color__white;
			width: rem(175);

			.flex-column & {
				position: relative;
			}

			.reverse-open & {
				left: auto;
				right: 0;
			}
		}
	}
}
