//--------------------------------------------------------------
// MODAL
//--------------------------------------------------------------
.modal-container {
	@include position(fixed, 0 0 0 0);

	background-color: rgba($color__black, 0.5);
	opacity: 1;
	transition: $transition__opacity;
	z-index: 1;

	&.is-hidden {
		opacity: 0;
		transition: $transition__opacity, $transition__z-index;
		z-index: -20;
	}
}

.modal {
	@include position(absolute, 0 0 0 0);

	background-color: $color__white;
	transition: $transition__left;
	z-index: 3;

	&.is-hidden {
		left: 100%;
		transition: $transition__left;
		z-index: 2;
	}
	
	@include media($tablet-portrait-up, null) {

		@include size(50% 0);

		left: 50%;
		padding-top: 3 / 2 * 50%; // 2:3 ratio * % width
		top: 50%;
		transform: translate(-50%, -50%); // centers element
	}

	@include media($tablet-landscape-up, null) {
		padding-top: 2 / 3 * 50%; // 3:2 ratio * % width
		width: 50%;
	}
}

.modal-content {
	@include position(absolute, 0 0 0 0);

	overflow: auto;
	padding: $gutter;

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5em;

		h2 {
			margin-bottom: 0;
		}
	}
}

// Keeps background from scrolling when modal is open.
.modal-open {
	overflow: hidden;
}
