//--------------------------------------------------------------
// TABS
//--------------------------------------------------------------
.tabs {

	// .tabs__nav
	&__nav {
		border: $border__default;
		border-bottom: 0;

		@include media($tablet-landscape-up, null) {
			border: 0;
		}

		li {
			background-color: $color__white;

			&.is-active {

				// sass-lint:disable-block nesting-depth
				a {
					color: $color__primary;
				}
			}

			@include media(null, $tablet-landscape-up) {

				+ li {
					border-top: $border__default;
				}
			}

			@include media($tablet-landscape-up, null) {
				background-color: transparent;

				&.is-active {
					background-color: $color__white;
					border: $border__default;
					border-bottom: 0;
					margin-bottom: rem(-1);
					position: relative;
				}
			}
		}

		a {
			color: $color__default;
		}
	}

	// .tabs__panel
	&__panel {
		background-color: $color__white;
		border: $border__default;
		display: none;
		padding: rem(20);

		&.is-active {
			display: block;
		}
	}

	&.tabs--vertical {

		@include media($tablet-landscape-up, null) {

			.tabs__nav {
				flex: 0 1 25%;
				text-align: right;

				li {

					&.is-active {
						border: $border__default;
						border-right: 0;
						margin-bottom: 0;
						margin-right: rem(-1);
					}
				}
			}

			.tabs__panel {
				flex: 0 1 75%;
			}
		}
	}
}
