//--------------------------------------------------------------
// FLEXBOX
//--------------------------------------------------------------
.flex {
	display: flex;

	// .flex--m
	&--m {
		@include media($tablet-landscape-up, null) {
			display: flex;
		}
	}
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-end {
	justify-content: flex-end;
}
