// ----------------------------------------------------------------------------
// GRID
// ----------------------------------------------------------------------------

// Display modes.
.block {
	display: block;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.inline-block {
	display: inline-block;
}

