// ----------------------------------------------------------------------------
// PAGE
// ----------------------------------------------------------------------------
.page {

	&__content {
		margin: 0 auto;
		max-width: 100%;
		width: $size__site-width;
	}
}
