//--------------------------------------------------------------
// HAS TOOLTIP
//--------------------------------------------------------------
.has-tooltip {
	border-bottom: 1px dotted $color__dark-gray;
	cursor: help;
	position: relative;
}
