/**
 * Accordion Styles
 */

/* .accordion {
	
	padding: 25px;
} */

.accordion__nav {
	border: 1px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
}

.accordion__nav li {
	padding: 20px 25px;
}

.accordion__nav li + li {
	border-top: 1px solid #ccc;
}

.accordion__nav h2 {
	cursor: default;
	margin: 0;
}

.accordion__content {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
}

.is-active .accordion__content {
	max-height: 100vh;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	transition-delay: 0.2s;
	visibility: visible;
}
