<!DOCTYPE html>
<html>

<head>
	<title>Bov Web Components - Accordion</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../main.css">
	<link rel="stylesheet" type="text/css" href="accordion.css">
</head>

<body>
	<div id="tabs" class="tabs">
		<ul class="tabs__nav">
			<li class="is-active"><a href="#k2">K2</a></li>
			<li><a href="#whitney">Whitney</a></li>
			<li><a href="#minnie">Minnie</a></li>
			<li><a href="#paul">Paul</a></li>
		</ul>
	</div>

	<script src="accordion.js"></script>
</body>

</html>
