<!DOCTYPE html>
<html>

<head>
	<title>Bov Web Components - Accordion</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans+Extra+Condensed:400,400i,700,700i|Fira+Sans:800"
	 rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../main.css">
</head>

<body>
	<header class="site-header">
		<div class="site-info">
			<p>Bov Web Components</p>
		</div>
		<nav class="site-navigation">
			<ul class="menu">
				<li class="menu__item"><a href="../buttons/index.html">Buttons</a></li>
				<li class="menu__item"><a href="../tabs/index.html">Tabs</a></li>
				<li class="menu__item"><a href="../accordion/index.html">Accordion</a></li>
				<li class="menu__item"><a href="../carousel/index.html">Carousel</a></li>
			</ul>
		</nav>
	</header>

	<main class="page">
		<div class="page__content">
			<section class="component component--accordion">
				<div id="accordion" class="accordion" role="tabset">
					<ul class="accordion__nav" role="tablist">
						<li class="is-active">
							<h3 id="k2" class="accordion__heading" role="tab" aria-controls="k2Panel" aria-selected="true">K2</h3>
							<div id="k2Panel" class="accordion__content" role="tabpanel" aria-labelledby="k2" aria-expanded="true">
								<p>K2 is the first cat I adopted.</p>
							</div>
						</li>

						<li>
							<h3 id="whitney" class="accordion__heading" role="tab" aria-controls="whitneyPanel" aria-selected="false">Whitney</h3>
							<div id="whitneyPanel" class="accordion__content" role="tabpanel" aria-labelledby="whitney" aria-hidden="true">
								<p>Whitney is the second cat I adopted, and is K2's biological sister.</p>
							</div>
						</li>

						<li>
							<h3 id="minnie" class="accordion__heading" role="tab" aria-controls="minniePanel" aria-selected="false">Minnie</h3>
							<div id="minniePanel" class="accordion__content" role="tabpanel" aria-labelledby="minnie" aria-hidden="true">
								<p>Minnie is the third Forde family cat, and the first named after a city.</p>
							</div>
						</li>

						<li>
							<h3 id="paul" class="accordion__heading" role="tab" aria-controls="paulPanel" aria-selected="false">Paul</h3>
							<div id="paulPanel" class="accordion__content" role="tabpanel" aria-labelledby="paul" aria-hidden="true">
								<p>Paul is the most recent addition to the Forde family, and he loves cuddles.</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</main>
	
	<script src="accordion.js"></script>
</body>

</html>
