<!DOCTYPE html>
<html>

<head>
	<title>Bov Web Components - Accordion</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../main.css">
</head>

<body>
	<div id="accordion" class="accordion">
		<ul class="accordion__nav">
			<li class="is-active">
				<h2>K2</h2>
				<div class="accordion__content">
					<p>K2 is the first cat I adopted.</p>
				</div>
			</li>

			<li>
				<h2>Whitney</h2>
				<div class="accordion__content">
					<p>Whitney is the second cat I adopted, and is K2's biological sister.</p>
				</div>
			</li>

			<li>
				<h2>Minnie</h2>
				<div class="accordion__content">
					<p>Minnie is the third Forde family cat, and the first named after a city.</p>
				</div>
			</li>

			<li>
				<h2>Paul</h2>
				<div class="accordion__content">
					<p>Paul is the most recent addition to the Forde family, and he loves cuddles.</p>
				</div>
			</li>
		</ul>
	</div>

	<script src="accordion.js"></script>
</body>

</html>
