//--------------------------------------------------------------
// BORDERS
//--------------------------------------------------------------

$border__radius: 5px;


//-----------------------------------------
// Forms
//-----------------------------------------
$border__forms: 1px solid $color__forms-border;
$border__forms-focus: 1px solid $color__forms-border-focus;


//-----------------------------------------
// Tabs
//-----------------------------------------
$border__tabs: 1px solid color(french-gray);


//-----------------------------------------
// Charts
//-----------------------------------------
$border__chart: 1px solid color(charcoal);
