//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$colors: map-merge($brand-colors, map-merge($neutral-colors, $utility-colors));


//-----------------------------------------
// Variables
//-----------------------------------------
$color__default: color(mid-gray);
$color__primary: color(primary);
$color__secondary: color(secondary);
$color__black: color(black);
$color__white: color(white);
$color__info: color(info);
$color__warning: color(warning);
$color__danger: color(danger);
$color__success: color(success);
