//--------------------------------------------------------------
// ICONS
//--------------------------------------------------------------

$file-path: 'images';

$icons: (
	close-dark-gray: '#{$file-path}/close-dark-gray.svg',
	close-razzmatazz: '#{$file-path}/close-razzmatazz.svg',
	search-dark-gray: '#{$file-path}/search-dark-gray.svg',
	search-razzmatazz: '#{$file-path}/search-razzmatazz.svg',
);
