//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

$transition__color: color 0.3s ease-in-out;
$transition__top: top 0.3s ease-in-out;
$transition__border-color: border-color 0.3s ease-in-out;
$transition__transform: transform 0.3s ease-in-out;
$transition__height: height 0.3s ease-in-out;
$transition__background-color: background-color 0.3s ease-in-out;
$transition__width: width 0.3s ease-in-out;
$transition__opacity: opacity 0.3s ease-in-out;
$transition__background: background 0.3s ease-in-out;
$transition__left: left 0.3s ease-in-out;
$transition__all: all 0.3s ease-in-out;
$transition__max-height: max-height 0.3s ease-in-out;
$transition__visible: visible 0.3s ease-in-out;
$transition__z-index: z-index 0.3s ease-in-out 0.3s;
